.navbar {
    background-color: #ffffff; /* Adjust to match the background color */
    border-right: 1px solid rgba(211, 211, 211, 0.75); /* Adjust to match the border color */
    padding: 10%;
  }
  
  .nav-item {
    margin-bottom: 10px;
  }
  
  .nav-li {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure the parent container takes full width */
}

.nav-link {
  display: flex;
  align-items: center;
  width: 90%; /* Take 90% of the parent container's width */
  border-radius: 5px;
  text-decoration: none;
  color: #333; 
  transition: background-color 0.2s ease-in-out;
  padding: 10px 0;
}

.nav-li:hover {
  background-color: rgba(211, 211, 211, 0.25); /* Adjust to match the hover color */
  border: 1px solid rgba(211, 211, 211, 0.25);
  border-radius: 5px;
}

.nav-icon {
  margin-right: 10px;
}